$base-size: 20px;

$mrbluesky: #0098ff;
$hellosunshine: #fcc949;

$mrbluesky-50: #7fcbff;
$mrbluesky-25: #cceaff;
$mrbluesky-10: #e5f4ff;
$mrbluesky-5: #f2faff;

$hellosunshine-50: #fde4a4;
$hellosunshine-25: #fef4db;
$hellosunshine-10: #fff9ec;
$hellosunshine-5: #fffcf6;

$nightsky: #003b5b;
$nightsky-75: #406c84;
$nightsky-50: #7f9dad;
$nightsky-25: #ccd8de;
$nightsky-10: #e5ebee;
$nightsky-5: #f2f5f7;

$white: #ffffff;
$black: #000000;

$positivegreen: #00e399;
$dangerred: #ff3b27;

$font-family-heading: 'proxima-nova', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-family-body: 'proxima-nova', 'Helvetica Neue', Helvetica, Arial, sans-serif;

// Breakpoints
$screen-xxs: 320px;
$screen-xs: 480px;
$screen-sm: 768px;
$screen-md: 992px;
$screen-lg: 1200px;
